<section>
  <header>
    Organizer: <strong>dddd</strong>
    <hr>
  </header>

  <main>
    <ul>
      <li class="task">
        <span>
          <strong class="task__index">1</strong>
          <i>task descript</i>
        </span>
        <button class="btn btn-primary btn-icon"><i class="material-icons">delete_outline</i></button>
      </li>
    </ul>
  </main>

  <footer>
    <form>
      <input type="text">
      <button class="btn btn-primary btn-block" type="submit">Add</button>
    </form>
  </footer>
</section>