<section>
  <header>
    Organizer: <strong>{{ dateService.date | async | moment:'DD MMM y' }}</strong>
    <hr>
  </header>

  <main>
    <ul>
      <li class="task">
        <span>
          <strong class="task__index">1</strong>
          <i>task descript</i>
        </span>
        <button class="btn btn-primary btn-icon">
          <i class="material-icons">delete_outline</i>
        </button>
      </li>
    </ul>
  </main>

  <footer>
      <input type="text" [formControl]="taskInput" (keyup.enter)="onSubmit()">
      <button class="btn btn-primary btn-block" type="submit" [disabled]="taskInput.invalid" (click)="onSubmit()">Add</button>
  </footer>
</section>