
:root {
  --primary-color: #dc3545;
  --accent-color: rgb(255, 238, 0);
  --dark-color: #333;
  --light-color: #f4f4f4;
  --grey-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

ul {
  list-style: none;
}

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  z-index: 1.2rem;
  font-family: inherit;
  border: 1px solid var(--light-color);
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

table th {
  background: var(--light-color);
}

.btn {
  display: inline-block;
  background: var(--accent-color);
  color: #333;
  padding: .4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: .3s ease all;
  outline: none;

  &:disabled {
    background-color: var(--light-color);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    opacity: 0.8;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-icon {
  border-radius: 100%;
  width: 2.6rem;
  height: 2.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  margin: 0;
}