table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;

  td, th {
    border: 1px solid var(--light-color);

    padding: .5rem 1rem;
  }

  td {
    text-align: center;
    transition: all .3s ease;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:not(.disabled) {
      background-color: var(--light-color);
      cursor: pointer;
    }

    .active {
      color: var(--accent-color);
      font-weight: bold;
    }
  
    .selected {
      color: var(--primary-color);
    }
  }
}